[run]
concurrency = multiprocessing
include =
  */buildgrid/*

omit =
  # Omit profiling helper module
  # Omit generated code
  */buildgrid/google/*
  *_pb2.py
  *_pb2_grpc.py
  */.eggs/*
  */_app/*

[report]
show_missing = True
precision = 2

[paths]
source =
    buildgrid/
    */site-packages/buildgrid/
    */buildgrid/buildgrid/
