boto3 < 1.8.0  # For moto compatibility (BuildGrid/buildgrid#65)
botocore < 1.11.0  # For moto compatibility (BuildGrid/buildgrid#65)
google-cloud-storage
click
grpcio
janus
protobuf >= 3.6.1
pyyaml
sqlalchemy
alembic
